/*
color--primary:purple: #9356DC;
color--secondary:pink: #FF79DA;
color--tertiary:green-light: #99E2D0;
green-dark: #008766;
blue-light: #89C8FA;
blue-dark: #003A68;
grey-dark: #353535;
grey-medium: #EAEAEA
grey-light: #F6F6F6;
white: #FFFFFF;Ò
black: #000000;
black-logo: #101010;
Logo et titres: font-family: 'Shrikhand', cursive;
Textes: font-family: 'Roboto', sans-serif;
*/

/*body*/    /* avec loader */

body {
    margin: 0;
    max-width: 767px; 
}

a {
    text-decoration: none;
}
/* chargement du loader à l'ouverture de la page d'accueil */
.loader {
    background-color: #FFFFFF;
    display: flex;
    width: 100% ;
    height: 100% ;
    justify-content: center;
    align-items: center;
    position:fixed; /*positionnement fixe au centre de la page de démarrage*/
    top: 0;
    left:0;

    animation: loader-none 200ms forwards; /*disparition de la section du loader avec l'apparition du body*/
    animation-delay: 3s;
}

.progress-bar {
    margin-top: 50px;
    width : 50%;
    height : 20px;
    border-radius: 20px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    
    transform-origin: left;
    transform: scale(0);
    animation: loading-bar 3s backwards;
}

header, main, footer {
    visibility: collapse;
    
    animation: loading-body 200ms forwards;/*la page devient visible après le délai de 3s du lancement du loader*/
    animation-delay: 3s;
}

/* caractéristiques de l'animation de la "progress-bar" */
@keyframes loading-bar {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }   
}

/* caractéristiques de l'animation pour l'apparition du body après loader */
@keyframes loading-body {
    from {
        visibility: collapse;
    }
    to {
        visibility: visible;
    }
}

/* caractéristiques de l'animation pour la disparition de la section du loader avec l'apparition du body */
@keyframes loader-none {
    from {
        height: 100%;
    }
    to {
        height: 0%;
    }
}

/*header*/

header {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content:center;
    align-items: center;
    background: #FFFFFF;
    position:relative;
    top: 4px; /*le logo est relevé pour la visualisation de la bordure basse ombragée*/
    box-shadow : 0px 2px 4px rgba(0,0,0,.15);
    width: 100%;
}
header img {
    width: 162px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background: #eaeaea;
    width: 100%;
}

nav i {
    color: #353535;
    font-size: 16px;
    width: 12px;
}

nav p {
    font-family: 'Roboto', sans-serif;
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 20px;
}

/*section explore*/

.explore {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.explore h1 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0px;  
    text-align: center;
}

.explore p {
    font-family: 'Roboto', sans-serif;
    color: #353535;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.btn-explore {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 25px;
    border-width: 0;
    box-shadow: 0px 4px 10px rgba(0,0,0,.25);
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 13px 19px;
    cursor: pointer;
    
    transition: all 0.7s ease;
}
 
.btn-explore:active { /* animation au clic du bouton "Explorer" */
    opacity: 0.7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.65);
}

/* Fonctionnement*/

.order {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    padding: 0px 20px;
}

.order h2 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.choice {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 25px;
    padding-left: 20px;
}

.choice-step {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #9356DC;
    border-radius: 24px;
    padding: 5px;
    position: absolute;
    left: -15px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.btn-choice {
    display: flex;
    flex-direction: row;
    width: 95%;
    align-items: center;
    border: 0;
    border-radius: 20px;
    background: #f7f7f7;
    box-shadow: 0px 4px 15px rgba(0,0,0,.15);
    width: 100%;
    height: 72px;
    position: relative;
}

.btn-choice i {
    color: #7E7E7E;
    font-size: 20px;
    width: 13px;
    position: absolute;
    left: 12%;    
}

.btn-choice i:hover { /* changement de couleur au survol des icones de fonctionnement */
    color: #9356DC;
}
.btn-choice p {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    left: 28%;
}

/*section restaurant*/

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 20px 65px 20px;
    background: #f6f6f6;

}

.restaurant h2 {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    width: 100%;

}

.card-all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
}
.card-indiv {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,.1);
    width: 100%;
    height: 250px;

}

.card-indiv a {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 70%;
    position: relative;
}

a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.new {
    font-family: 'Roboto', sans-serif;
    color: #008766;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    background: #99E2D0;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.15);
    padding: 7px 9px 6px 9px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content: space-between;
    align-items:flex-start;
    position:relative;
}

.content h3 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 15px;
}

.content p {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 15px;
}

.heart-white {
    position: absolute;
    right: 25px;
    bottom: 30px;
    cursor: pointer;
    z-index: 1;
}

.heart-colored {
    position: absolute;
    right: 25px;
    bottom: 30px;
    cursor: pointer;
    z-index: 2;
    opacity: 0; /*le coeur coloré est invisible au dessus du coeur blanc*/
    transition: opacity 0.7s;
}

.heart-colored:hover { /* animation du coeur à son survol */
    opacity: 1;
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #353535;
    padding-bottom: 20px;
}
.logo-white {
    font-family: 'Shrikhand', cursive;
    color: #FFFFFF;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    padding: 25px;
}

.links {
    display: flex;
    flex-direction: column;
}

.ustensils,
.handshake {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 5px;
    padding-bottom: 5px;
}

.ustensils p,
.handshake p {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-left: 47px;
    margin: 0;
}

.ustensils i,
.handshake i {
    color: #FFFFFF;
    font-size: 13px; 
    position: absolute; /*calage des icones dans le footer*/
    left: 25px; 

}

.legal {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding-left: 25px;
    padding-bottom: 5px;
}

.contact {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding-left: 25px;
    padding-bottom: 5px;
}

/*media-queries pour Tablette*/

@media screen and (min-width:768px) and (max-width: 1023px){

    body {
        max-width: 1023px;
    }

    header img {
        width: 200px;
    }

    .explore {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .order {
        padding: 30px 100px 45px 100px;
        margin-bottom: 0px;
    }

    .restaurant {
        padding: 30px 100px 30px 100px;
    }

    .restaurant h2 {
        margin-top: 0px;
    }
    .card-all {
        flex-direction: row;
        flex-wrap:wrap;
    }

    .card-indiv {
        width: 47%;
    }
    .choice {
        flex-direction: row;
    }

    footer {
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 40px;
    }

    .links {
        flex-direction: row;
    }

    .logo-white {
        padding: 0px 50px;
    }

    .ustensils, .handshake, .legal, .contact {
        padding-bottom: 0px;
    }
}

/*media-queries pour desktop*/

@media screen and (min-width: 1024px) {

    body {
        max-width: 100%;
    }

    header img {
        width: 200px;
    }

    .explore {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .order {
        padding: 30px 150px 45px 150px;
        margin-bottom: 0px;
    }

    .restaurant {
        padding: 30px 150px 30px 150px;
    }

    .restaurant h2 {
        margin-top: 0px;
    }
    .card-all {
        flex-direction: row;
        flex-wrap:wrap;
    }

    .card-indiv {
        width: 47%;
    }
    .choice {
        flex-direction: row;
    }

    footer {
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 40px;
    }

    .links {
        flex-direction: row;
    }

    .logo-white {
        padding: 0px 50px;
    }

    .ustensils, .handshake, .legal, .contact {
        padding-bottom: 0px;
    }
}



